.row {
  width: 100%;
  white-space: nowrap;
}

.col {
  margin: 8px 8px;
  display: inline-block;
  min-width: 64px;
}

.left-col {
  float: left;
  width: 200px;
  margin-right: 24px;
  text-align: center;
}

.right-col {
}
